.items{
  width: 400px;
  background: #BBB;
  box-sizing: border-box;
  padding-bottom: 50px;
}

.has-children{
  width: 100%;
  padding-bottom: 0;
}
.items.hide{
  display: none;
}

.item{
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
}
